fastapi
uvicorn[standard]
python-multipart
python-dotenv
openai
pydantic
reportlab
PyPDF2
python-docx
requests
pymongo[srv]
certifi
langgraph
cloudinary
stripe
PyJWT
passlib[bcrypt]
bcrypt<5.0.0

openai-whisper
imageio-ffmpeg
